body {
    margin: 0;
  
    box-sizing: border-box;
    background: linear-gradient(
      256deg,
      #750080 0%,
      #911d73 16%,
      #a93365 33%,
      #c04656 50%,
      #d65a45 66%,
      #eb6d30 83%,
      #ff8000 100%
    );
  
    background-size: contain;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin: 3% auto;
    padding: 5% 3%;
    border-radius: 100px;
    box-shadow: 2rem 2rem 1.75rem #3b242477;
  }
  
  .login-form {
    margin-left: 7%;
  }
  
  input {
    border-radius: 40px;
    width: 90%;
    padding: 3%;
    display: block;
    margin-bottom: 5%;
    font-family: sans-serif;
    outline: none;
    border: none;
    background: linear-gradient(
      88deg,
      #cccccc 0%,
      #d4d4d4 16%,
      #dddddd 33%,
      #e5e5e5 50%,
      #eeeeee 66%,
      #f6f6f6 83%,
      #ffffff 100%
    );
  }
  
  .login-button {
    background: linear-gradient(
      88deg,
      #00dbe6 0%,
      #5ce1d4 16%,
      #7fe6c2 33%,
      #98ecaf 50%,
      #acf39b 66%,
      #bef987 83%,
      #cdff70 100%
    );
    color: white;
    outline: none;
    border: none;
    padding: 3% 5%;
    margin: 3% 30%;
  
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
  }
  
  /***********Text******/
  h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  
  h2,
  label {
    font-family: sans-serif;
  }