<form action="/reg" method="post">
    <div>
        <label for="username">Felhasználónév</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Jelszó</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <button type="submit">Küldés</button>
    </div>
</form>