<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random cica</title>
</head>

<body>

    <main>
        <h2>Given number:</h2>
        <% if (number > 4){ %>
            <h2>
                <%= number %>
            </h2>
            <% } else { %>
                <h2>not a number</h2>
                <% } %>
    </main>
</body>

</html>