* {
    margin: 20px;
}

.content {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    width: 20%;
}

.content-style {
    background-color: antiquewhite;
    padding: 30px;
    width: 30%;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main2 {
    display: flex;
    flex-grow: 2;
}