.container {
    background-color: rgb(217, 221, 220);
    width: 960px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.header-space {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/photo-1465101162946-4377e57745c3.jpg');
    background-size: cover;
    height: 200px;
    color: white;
}

.header-space>h1 {
    letter-spacing: 50px;
    font-weight: 200;
}

.submit-btn {
    background-color: rgb(58, 155, 235);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: rgb(18, 54, 83)
}