<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        todos
    </title>
</head>

<body>
    <h1>
        <%=title%>
    </h1>
    <ul>
        <% for (let i=0; i<todos.length; i++){%>
            <li>
                <%=todos[i]%>
            </li>
            <% } %>
    </ul>


</body>

</html>